@import '../login/login.component.css';

.subtitle {
  font-size: 0.95rem;
  color: #8e8e8e;
  margin-bottom: 1rem;
  text-align: center;
}

.agreement {
  font-size: 0.75rem;
  color: #8e8e8e;
  margin-top: 1rem;
  line-height: 1.2;
}
.agreement a {
  color: #00376b;
  text-decoration: none;
}
.agreement a:hover {
  text-decoration: underline;
}
