<!-- src/app/feed/tweet-card.component.html -->
<div class="post-card">
  <div class="header">
    <img class="avatar"
         src="assets/default-avatar.png"
         alt="Avatar por defecto" />
    <div class="user-info">
      <strong>{{ tweet.postedBy }}</strong>
      <small>{{ tweet.createdAt | date:'short' }}</small>
    </div>
  </div>

  <p>{{ tweet.content }}</p>
  <img *ngIf="tweet.imageUrl"
       [src]="'https://red-social-spring-latest.onrender.com' + tweet.imageUrl"
       class="post-image"
       alt="Imagen del post" />

  <div class="actions">
    <button (click)="onLike()">👍 {{ tweet.reactionCount }}</button>
    <button (click)="onRepost()">🔄 {{ tweet.repostCount }}</button>
    <button (click)="onComment()">💬 {{ tweet.commentCount }}</button>
  </div>
</div>
